---
---

@charset "utf-8";

$base-font-family: 'DM Serif Text', serif;
$base-font-size:   medium;
$small-font-size:  0.875em;
$vsmall-font-size: 0.66em;
$base-line-height: 1.5;
$spacing-unit:     1.5em;

$grey-vlight:#eee;
$grey-light: #ccc;
$grey:       #888;
$grey-dark:  #444;
$grey-vdark: #222;
$blue:       #0091ed;
$orange:     #ca6c18;
$red:        #b6321c;
$white:      #fff;

$background:        $white;
$dark-background:   darken($background, 5%);
$text-color:        $grey-vdark;
$text-light-color:  $grey;
$url-color:         $red;
$url-hover-color:   $orange;
$header-text-color: $grey-vdark;
$header-hover-color:$orange;
$header-hover-url:  $url-color;
$line-color:        $grey-vdark;

// Width of the content area
$content-width:    50em;
$content-min-width: 15em;
$mobile:           770px;
$desktop:          50em;


@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
    "header",
    "mobile-header",
    "base",
    "footer",
    "page",
    "syntax-highlighting",
    "fancy-image"
;

\\ Column Stuff
.grid-container{
        width: 100%; 
        max-width: 1200px;      
    }

    /*-- our cleafix hack -- */ 
    .row:before, 
    .row:after {
        content:"";
          display: table ;
        clear:both;
    }

    [class*='col-'] {
        float: left; 
        min-height: 1px; 
        width: 16.66%; 
        /*-- our gutter -- */
    }

    .col-1{ width: 16.66%; }
    .col-2{ width: 33.33%; }
    .col-3{ width: 50%;    }
    .col-4{ width: 66.66%; }
    .col-5{ width: 83.33%; }
    .col-6{ width: 100%;   }

    .outline, .outline *{
        outline: 0px solid #F6A1A1; 
    }

    /*-- some extra column content styling --*/
    [class*='col-'] > p {
     padding: 0;
     margin: 0;
     text-align: center; 
    }

@media all and (max-width:750px){
        .col-1{ width: 50%;        }
        .col-2{ width: 100%;    }
        .col-3{ width: 100%;    }
        .col-4{ width: 100%;    }
        .col-5{ width: 100%;    }
        .col-6{ width: 100%;      }
    }
